<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136630245602-86l1i8nj04trr10103id1498c6qnjppf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136630245602-86l1i8nj04trr10103id1498c6qnjppf</string>
	<key>API_KEY</key>
	<string>AIzaSyAfDy4jr3-mAwZCBYL220cvgTyi5XuusYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>136630245602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aycc.TwitterTutorial</string>
	<key>PROJECT_ID</key>
	<string>twittertutorial-ef628</string>
	<key>STORAGE_BUCKET</key>
	<string>twittertutorial-ef628.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136630245602:ios:107d14b5718843b81d66bb</string>
</dict>
</plist>